<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lynch Family</title>
  <meta name="description" content="Specifcally designed for the Lynch family to connect and communicate.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="lib/bootstrap.css" >
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="templates/home.js"></script>
  <script src="templates/trees.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="lib/angular-animate.min.js"></script>
  <script src="lib/jquery.min.js"></script>
  <script src="lib/TweenMax.min.js"></script>
</head ng-controller="MainCtrl">
<body ng-controller="MainCtrl">
  <ul class="menu">
    <li><a href="#!/home">Home</a></li>
    <li><a href="#!/trees">Trees</a></li>
	<li><a href="#!/login">Login</a></li>
  </ul>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- <div ng-view></div> !-->

  <div class="container slider">
	<img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
			ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
			ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
	
	<a class="arrow prev" href="#" ng-click="nextSlide()"></a>
	<a class="arrow next" href="#" ng-click="prevSlide()"></a>
	<nav class="nav">
		<div class="wrapper">
			<ul class="dots">
				<li class="dot" ng-repeat="slide in slides">
					<a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
						ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a>
				</li>
			</ul>
		</div>
	</nav>
  </div>
  
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>

</body>
</html>
